@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&family=Sedan+SC&display=swap');

body {
    margin: 0;
}

p {
    margin: 0;
    font-family: "Sedan SC", serif;
}

h1 {
    margin: 0;
    font-size: 65px;
    font-family: "Sedan SC", serif;
}

h2 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    text-shadow: 1px 1px rgba(61, 71, 55, 0.1);
}

#screen {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.picking-screen {
    background-color: orange;
    background-image: url("../images/tree.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.end-screen {
    background-image: url("../images/end-screen-bg.jpg");
    background-size: cover;
}

#win-fail-div {
    color: rgb(225, 255, 205);
    text-shadow: 4px 4px black;
    height: 15%;
    width: 40%;
    margin: 2rem auto 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#outcome-text-div {
    background-color: rgba(225, 255, 205, 0.85);
    height: 50%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

#outcome-text-div div {
    padding: 2em;
    text-align: justify;
}

#score-div {
    color: white;
    height: 5%;
    margin: 1rem auto 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

#tryagain {
    margin: 0 auto;
    padding: 0.5em;
    text-align: center;
    color: rgb(225, 255, 205);
    border: 1px solid rgb(225, 255, 205);
    border-radius: 10px;
    background-color: rgb(7, 34, 35);
    width: 20%;
}

#tryagain:hover {
    color: rgb(7, 34, 35);
    background-color: rgb(225, 255, 205);
    font-weight: 600;
}

#main-frame {
    height: 70%;
    top: 0;
    background-color: lightblue;
}

#text-frame {
    background-color: greenyellow;
    height: 30%;
    bottom: 0;
}

#speakers-name {
    margin: 0 auto;
    padding-top: 1rem;
    width: 80%;
}

#speakers-dialogue {
    margin: 1rem auto;
    width: 80%;
}

#timer-div {
    text-align: center;
}

#apple-div {
    position: relative;
    width: 90%;
    height: 70%;
    left: -2%;
    margin: 0 auto;
    border: 1px solid violet;
}

.apple-picture {
    position: absolute; 
}

#apple-bin {
    height: 25%;
    width: fit-content;
    margin: 0 auto;
}

#apple-bin img {
    height: 100%;
}